.feedback {

  .title {
    position: relative;
    margin-bottom: 77px;

    &::after {
      z-index: -1;
      position: absolute;
      top: -60px;
      left: 570px;
      content: 'Отзывы';
      font-weight: 900;
      font-size: 210px;
      line-height: 284px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: transparent;
      opacity: 0.6;
      border: none;
       -webkit-text-stroke: 3px #FCF6F3;
    }
  }


  .feedback__slider_container {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feedback__slider_item {
    width: 328px;
    height: 582px;
    margin-right: 30px;
  }
}

.feedback__slider {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 1920px;
  margin: 0 auto 150px;

  .flex-viewport {
    width: 1660px;
  }

  .flex-direction-nav a {
    top: 655px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 82px;
    height: 16px;
    opacity: 1;
    border: none;

    &.flex-next {
      right: 0;
      left: 388px;

      &::before {
        content: '';
        width: 82px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='82' height='16' viewBox='0 0 82 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M81.7071 8.70711C82.0976 8.31658 82.0976 7.68342 81.7071 7.29289L75.3431 0.928932C74.9526 0.538408 74.3195 0.538408 73.9289 0.928932C73.5384 1.31946 73.5384 1.95262 73.9289 2.34315L79.5858 8L73.9289 13.6569C73.5384 14.0474 73.5384 14.6805 73.9289 15.0711C74.3195 15.4616 74.9526 15.4616 75.3431 15.0711L81.7071 8.70711ZM0 9L81 9V7L0 7L0 9Z' fill='%23C6B8B1'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }

    &.flex-prev {
      left: 262px;

      &::before {
        content: '';
        width: 82px;
        height: 16px;
        background-image: url("data:image/svg+xml,%3Csvg width='82' height='16' viewBox='0 0 82 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 8.70711C-0.0976334 8.31658 -0.0976334 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM82 9L1 9V7L82 7V9Z' fill='%23C6B8B1'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center center;
      }
    }
  }

  .feedback_blur {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    width: 330px;
    height: 582px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.4) 50%, rgba(255,255,255,0.8) 100%);
  }
}
