.footer {

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 235px;
  }

  .text {
    font-weight: 300;
    font-size: 14px;
    line-height: 130%;
    color: #354F62;
    text-decoration: none;
  }

  .logo {
    margin-left: 0;

    .icon {
      fill: #929FA8;
    }

    .text {
      font-weight: bold;
      color: #929FA8;
    }
  }
}

.display_off {
  display: none !important;
}

.display_on {
  display: flex !important;
}

@media (max-width: $hd_desktop) {
  .footer {
    .wrapper {
      height: 130px;
    }
  }
}
