.header {

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1750px;
    min-height: 96px;
  }
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-right: 50px;
  margin-left: 105px;

  .icon {
    margin-right: 20px;
  }

  .title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #528491;
    margin: 0;
  }

  .text {
    font-weight: 300;
    font-size: 13px;
    line-height: 15px;
    color: #354F62;
  }
}

.private_office {
  display: flex;
  text-decoration: none;
  margin-right: 80px;

  .icon {
    margin-right: 14px;
  }

  .text {
    font-size: 12px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #354F62;
  }
}
