.header {

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    min-height: 5vw;
  }
}

@media (min-width: $hd_desktop) {
  .header {

    .wrapper {
      width: 1750px;
      min-height: 96px;
    }
  }
}

.container {
  display: flex;
}

.menu_open {
  display: none;
  width: 85px;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #354F62;
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='16' viewBox='0 0 25 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 0H25V2H0V0ZM0 7H25V9H0V7ZM25 14H0V16H25V14Z' fill='%23354F62'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: left center;
}

.menu_close {
  width: 16px;
  height: 16px;
  margin-right: 25px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.36398 7.7782L4.673e-05 14.1421L1.41426 15.5563L7.7782 9.19241L14.1421 15.5564L15.5563 14.1421L9.19241 7.7782L15.5564 1.41421L14.1422 0L7.7782 6.36399L1.41421 2.86102e-06L0 1.41422L6.36398 7.7782Z' fill='%23354F62'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
}

.header_menu {
  display: none;

  .header_menu_link {
    margin-right: 35px;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: #354F62;
  }
}

.stickytop {
  z-index: 3;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0px 4px 20px rgba(131, 109, 99, 0.1);

  .wrapper {
    width: 1400px;
    height: 70px;
    min-height: 70px;
  }

  .logo {
    align-items: center;
    margin-left: 0;
    margin-right: 145px;

    .icon {
      width: 43px;
      height: 26px;
      margin-right: 10px;
    }

    .text {
      font-size: 13px;
    }
  }

  .menu_open {
    display: inline-block;
  }

  .private_office {
    margin-right: 0;
  }
}

.private_office {
  z-index: 1;
  display: flex;
  text-decoration: none;
  margin-right: 4.4vw;

  .icon {
    margin-right: 0.7vw;
    width: 0.9vw;
    height: 0.8vw;
  }

  .text {
    font-size: 0.6vw;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #354F62;
  }
}

@media (min-width: $hd_desktop) {
  .private_office {
    margin-right: 86px;

    .icon {
      width: 15px;
      height: 15px;
      margin-right: 14px;
    }

    .text {
      font-size: 12px;
    }
  }
}
