.landing {
  margin-bottom: 250px;

  .wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 90vw;
    box-sizing: border-box;
    min-height: 40vw;
    padding-top: 5vw;
    padding-left: 6vw;
    background-color: #FCF6F3;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    display: flex;
    flex-direction: column;
    font-weight: 900;
    font-size: 4.3vw;
    line-height: 5.7vw;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #528491;
    margin-top: 0;
    margin-bottom: 2.1vw;
    z-index: 1;
  }

  .subtitle {
    font-weight: 500;
    font-size: 0.82vw;
    line-height: 2vw;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #528491;
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .text {
    z-index: 1;
    width: 27vw;
    line-height: 1.7vw;
    margin-bottom: 2.9vw;
    font-size: 0.8vw;
  }

  .button {
    min-height: 4vw;
    min-width: 12.5vw;
    font-size: 0.7vw;
  }

  .menu {
    z-index: 1;
    padding-top: 2.8vw;

    .list {
      display: flex;
      flex-direction: column;
      width: 12vw;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .item {
      margin-bottom: 1.4vw;
    }

    .link {
      font-size: 0.6vw;
      line-height: 0.82vw;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #354F62;
      text-decoration: none;

      &:hover {
        color: #E59292;
      }
    }
  }

  @keyframes landing_print_rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
  }

  .image {
    position: absolute;
    top: -5vw;
    left: 44%;
    display: flex;
    width: 35vw;
    height: 50vw;
    background-image: url('../img/landing_image_desktop.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::after {
      position: absolute;
      top: 7.8vw;
      left: -8vw;
      content: '';
      width: 16vw;
      height: 12vw;
      background-image: url('../img/45+.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    &::before {
      animation-name: landing_print_rotation;
      animation-duration: 30s;
      animation-timing-function: linear;
      animation-delay: 0s;
      animation-iteration-count: infinite;
      position: absolute;
      top: 33vw;
      left: -3.5vw;
      content: '';
      width: 7vw;
      height: 7vw;
      background-image: url('../img/round_inscription.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

@media (min-width: $desktop) {
  .landing {
    min-height: auto;

    .wrapper {
      width: 1750px;
      min-height: 780px;
      padding-top: 100px;
      padding-left: 105px;
    }

    .title {
      font-size: 85px;
      line-height: 116px;
      margin-bottom: 40px;
    }

    .subtitle {
      font-size: 16px;
      line-height: 200%;
    }

    .text {
      width: 570px;
      font-size: 16px;
      line-height: 200%;
      margin-bottom: 60px;
    }

    .button {
      min-height: 88px;
      min-width: 245px;
      font-size: 14px;
      line-height: 19px;
    }

    .image {
      top: -96px;
      left: 44%;
      width: 684px;
      height: 973px;

      &::after {
        top: 150px;
        left: -165px;
        width: 316px;
        height: 245px;
      }

      &::before {
        top: 617px;
        left: -82px;
        width: 168px;
        height: 169px;
      }
    }

    .menu {
      padding-top: 54px;

      .list {
        width: 225px;
      }

      .item {
        margin-bottom: 27px;
      }

      .link {
        font-size: 12px;
        line-height: 16px;
      }
    }
  }
}

@media (max-width: $desktop) {
  .landing {

    margin-bottom: 160px;

    .wrapper {
      width: 1260px;
      min-height: 560px;
      padding-top: 67px;
      padding-left: 87px;
    }

    .subtitle {
      font-size: 16px;
      line-height: 200%;
      margin-bottom: 0;
    }

    .title {
      font-size: 60px;
      line-height: 82px;
      margin-bottom: 28px;
    }

    .text {
      width: 501px;
      font-size: 15px;
      line-height: 200%;
      margin-bottom: 38px;
    }

    .button {
      min-width: 175px;
      min-height: 60px;
      padding: 20px 20px;
      font-size: 14px;
    }

    .menu {
      padding-top: 43px;

      .list {
       width: 155px;
      }
      .item {
        margin-bottom: 27px;
      }
      .link {
        font-size: 12px;
        line-height: 16px;
      }
    }

    .image {
      top: -70px;
      left: 565px;
      width: 490px;
      height: 700px;

      &::after {
        top: 95px;
        left: -120px;
        width: 225px;
        height: 175px;
      }

      &::before {
        top: 475px;
        left: -58px;
        width: 110px;
        height: 110px;
      }
    }
  }
}

@media (max-width: $tablet) {
  .landing {
    min-height: auto;
    margin-bottom: 102px;

    .wrapper {
      width: 720px;
      min-height: 520px;
      padding-top: 38px;
      padding-left: 33px;
    }

    .subtitle {
      margin-left: 0;
      margin-bottom: 6px;
    }

    .title {
      font-size: 40px;
      line-height: 54px;
      margin-bottom: 21px;
    }

    .text {
      width: 280px;
      font-size: 14px;
      line-height: 200%;
      margin-bottom: 30px;
    }

    .menu {
      display: none;
    }

    .image {
      left: 260px;
      width: 408px;
      height: 615px;

      &::after {
        top: 110px;
        left: -20px;
        width: 134px;
        height: 104px;
      }

      &::before {
        top: 385px;
        left: auto;
        right: -50px;
        width: 110px;
        height: 110px
      }
    }
  }
}

// @media (max-width: $mobile) {
//   .landing {
//     margin-bottom: 62px;

//     .wrapper {
//       position: relative;
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       width: 290px;
//       background-color: transparent;
//       padding: 0;

//       &::after {
//         z-index: -1;
//         position: absolute;
//         top: 50px;
//         left: 77px;
//         content: '';
//         width: 228px;
//         height: 604px;
//         background-color: #FCF6F3;
//       }
//     }

//     .title {
//       font-size: 30px;
//       line-height: 41px;
//       margin-top: -100px;

//       .subtitle {
//         font-size: 16px;
//         line-height: 200%;
//         margin-bottom: 20px;
//       }
//     }

//     .image {
//       order: -1;
//       position: relative;
//       top: 0;
//       left: 0;
//       width: 244px;
//       height: 368px;

//       &::after {
//         top: auto;
//         left: auto;
//         right: -25px;
//         bottom: 0px;
//         width: 118px;
//         height: 90px;
//       }

//       &::before {
//         top: auto;
//         left: auto;
//         right: -25px;
//         bottom: -330px;
//         width: 87px;
//         height: 85px;
//       }
//     }

//     .text {
//       margin-bottom: 35px;
//     }
//   }
// }

@media (max-width: $mobile) {
  .landing {
    margin-bottom: 62px;

    .wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100vw;
      background-color: transparent;
      padding: 0;

      &::after {
        z-index: -1;
        position: absolute;
        top: 16vw;
        left: 40%;
        content: '';
        width: 60vw;
        height: 188vw;;
        background-color: #FCF6F3;
      }
    }

    .content {
      width: 90vw;
      margin: 0 auto;
    }

    .button {
      width: 55vw;
      height: 19vw;
      min-width: 55vw;
      min-height: 19vw;;
      font-size: 4.5vw;
    }

    .title {
      font-size: 9.5vw;
      line-height: 135%;
      margin-top: -32vw;
      margin-bottom: 6vw;

      .subtitle {
        font-size: 5vw;
        line-height: 200%;
        margin-bottom: 6vw;
      }
    }

    .image {
      order: -1;
      position: relative;
      top: 0;
      left: 0;
      width: 77vw;
      height: 116vw;

      &::after {
        top: auto;
        left: auto;
        right: -8vw;
        bottom: 0px;
        width: 37vw;
        height: 28vw;
      }

      &::before {
        top: auto;
        left: auto;
        right: -8vw;
        bottom: -103vw;
        width: 27vw;
        height: 27vw;
      }
    }

    .text {
      width: 90vw;
      font-size: 4.5vw;
      margin-bottom: 10vw;
    }
  }
}
