.partner {
  margin-bottom: 150px;

  .wrapper {
    position: relative;
  }

  .title {
    font-size: 28px;
    line-height: 200%;
    margin-bottom: 32px;
  }

  .text {
    width: 720px;
    line-height: 200%;
    margin-bottom: 32px;
  }

  .image {
    position: absolute;
    top: 20px;
    left: 785px;
    width: 876px;
    height: 562px;
  }

  .partner__bg {
    z-index: -1;
    position: absolute;
    top: -375px;
    left: -150px;
    width: 1814px;
    height: 1410px;
    background-color: #FCF6F3;
  }
}

@media (max-width: $desktop) {
  .partner {
    margin-bottom: 125px;

    .partner__bg {
      top: -275px;
      left: -85px;
      width: 1260px;
      height: 1330px;
    }

    .text {
      font-size: 15px;
    }

    .image {
      width: 390px;
      height: 410px;
    }
  }
}

@media (max-width: $tablet) {
  .partner {
    margin-bottom: 65px;

    .title {
      margin-bottom: 35px;
    }

    .partner__bg {
      top: -325px;
      left: -25px;
      width: 770px;
      height: 1540px;
    }

    .text {
      font-size: 15px;

      &:last-of-type {
        margin-bottom: 49px;
      }
    }

    .image {
      position: relative;
      top: 0;
      left: 0;
      width: 717px;
      height: 322px;
    }
  }
}

// @media (max-width: $mobile) {
//   .partner {
//     margin-bottom: 45px;

//     .title {
//       font-size: 22px;
//       line-height: 161%;
//       margin-bottom: 13px;
//     }

//     .picture {
//       display: none;
//     }

//     .text {
//       width: 290px;
//       font-size: 14px;
//       line-height: 200%;
//       margin-bottom: 11px;

//       &:last-of-type {
//         margin-bottom: 20px;
//       }
//     }

//     .partner__bg {
//       top: -75px;
//       left: -15px;
//       width: 320px;
//       height: 1275px;
//     }
//   }
// }

@media (max-width: $mobile) {
  .partner {
    margin-bottom: 14vw;

    .title {
      font-size: 7vw;
      line-height: 161%;
      margin-bottom: 4vw;
    }

    .picture {
      display: none;
    }

    .text {
      width: 100%;
      font-size: 4.5vw;
      line-height: 200%;
      margin-bottom: 3.5vw;

      &:last-of-type {
        margin-bottom: 20vw;
      }
    }

    .partner__bg {
      top: -24vw;
      left: -3vw;
      width: 100vw;
      height: 400vw;
    }
  }
}
