.partner {
  margin-bottom: 150px;

  .wrapper {
    position: relative;
  }

  .title {
    font-size: 28px;
    line-height: 200%;
    margin-bottom: 32px;
  }

  .text {
    width: 720px;
    line-height: 200%;
    margin-bottom: 32px;
  }

  .image {
    position: absolute;
    top: 20px;
    left: 785px;
    width: 876px;
    height: 562px;
    // background-image: url("../img/partner_image_hd.jpg");
    // background-repeat: no-repeat;
    // background-size: cover;
  }

  .partner__bg {
    z-index: -1;
    position: absolute;
    top: -375px;
    left: -150px;
    width: 1814px;
    height: 1410px;
    background-color: #FCF6F3;
  }
}

@media (max-width: $hd_desktop) {
  .partner {
    margin-bottom: 125px;

    .partner__bg {
      top: -275px;
      left: -115px;
      width: 1370px;
      height: 1330px;
    }

    .text {
      font-size: 15px;
    }

    .image {
      width: 471px;
      height: 463px;
    }
  }
}

@media (max-width: $desktop) {
  .partner {
    margin-bottom: 65px;

    .title {
      margin-bottom: 35px;
    }

    .partner__bg {
      top: -325px;
      left: -25px;
      width: 770px;
      height: 1540px;
    }

    .text {
      font-size: 15px;

      &:last-of-type {
        margin-bottom: 49px;
      }
    }

    .image {
      position: relative;
      top: 0;
      left: 0;
      width: 717px;
      height: 322px;
    }
  }
}
