.partner {
  margin-bottom: 150px;

  .wrapper {
    position: relative;
  }

  .title {
    font-size: 28px;
    line-height: 200%;
    margin-bottom: 32px;
  }

  .text {
    width: 720px;
    line-height: 200%;
    margin-bottom: 32px;
  }

  .image {
    position: absolute;
    top: 20px;
    left: 785px;
  }

  .partner__bg {
    z-index: -1;
    position: absolute;
    top: -375px;
    left: -150px;
    width: 1814px;
    height: 1410px;
    background-color: #FCF6F3;
  }
}
