.schedule {
  z-index: 0;
  position: relative;
  margin-top: -90px;
  margin-bottom: 285px;
  padding-top: 142px;

  .wrapper {
    position: relative;
  }

  .schedule_bg {
    z-index: -1;
    position: absolute;
    top: -140px;
    left: -260px;
    width: 1814px;
    height: 1270px;
    background-color: #528491;
  }

  .title {
    position: relative;
    color: #FCF6F3;
    margin-bottom: 36px;

    &::after {
      z-index: 1;
      position: absolute;
      top: -60px;
      left: 900px;
      content: 'Как';
      font-weight: 900;
      font-size: 210px;
      line-height: 284px;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: transparent;
      opacity: 0.05;
      border: none;
       -webkit-text-stroke: 3px #ffffff;
    }
  }

  .part {

    &:nth-child(1) {
      .image {
        width: 402px;
      }
    }
    &:nth-child(2) {
      .image {
        width: 402px;
      }
    }
    &:nth-child(3) {
      .image {
        width: 414px;
      }
    }
  }

  .banner {
    display: flex;
    justify-content: space-between;
    width: 1385px;
    margin: 0 0 68px;
    padding: 0;
    list-style: none;

    .text {
      font-weight: normal;
      font-size: 24px;
      line-height: 200%;
      color: #FFFFFF;
      margin-top: -45px;
      margin-left: 10px;
    }
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin: 0 0 35px;
    padding: 0;
  }

  .item {
    position: relative;
    overflow-x: hidden;
    display: flex;
    align-items: flex-start;
    width: 446px;
    height: 154px;
    box-sizing: border-box;
    background-color: #578895;
    box-shadow: 0px 15px 20px -20px rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    padding-top: 65px;

    .step {
      position: relative;
      font-weight: bold;
      font-size: 16px;
      color: #FFFFFF;
      margin:  0 20px 0 100px;

      &::after {
        z-index: 0;
        position: absolute;
        top: -50px;
        left: -55px;
        content: '';
        font-weight: 900;
        font-size: 100px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: transparent;
        opacity: 0.06;
        border: none;
         -webkit-text-stroke: 2px #ffffff;
      }
    }

    .text {
      width: 210px;
      color: #FFFFFF;

      a {
        color: #FFFFFF;
      }
    }

    &::before {
      position: absolute;
      top: 43px;
      left: -50px;
      content: '';
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: #528491;
    }

    &::after {
      position: absolute;
      top: 43px;
      right: -50px;
      content: '';
      width: 68px;
      height: 68px;
      border-radius: 50%;
      background-color: #528491;
    }

    &:nth-child(1) {
      .step {

        &::after {
          content: '01';
        }
      }

      &::before {
        display: none;
      }
    }

    &:nth-child(3) {
      .step {
        &::after {
          content: '02';
        }
      }
    }

    &:nth-child(5) {
      .step {
        &::after {
          content: '03';
        }
      }
    }

    &:nth-child(6) {
      .step {
        &::after {
          content: '04';
        }
      }
    }

    &:nth-child(8) {
      .step {
        &::after {
          content: '05';
        }
      }
    }

    &:nth-child(10) {
      .step {
        &::after {
          content: '06';
        }
      }

      &::after {
        display: none;
      }
    }
  }

  .arrow {
    z-index: 1;
    position: relative;
    display: flex;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 30px;

    &::before {
      position: absolute;
      top: -21px;
      left: -21px;
      content: '';
      width: 42px;
      height: 42px;
      border-radius: 50%;
      background-color: #578895;
      background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.34309 0.929612L8.70705 7.29357C9.09758 7.6841 9.09758 8.31726 8.70705 8.70779L2.34309 15.0717C1.95257 15.4623 1.3194 15.4623 0.928878 15.0717C0.538354 14.6812 0.538354 14.0481 0.928878 13.6575L6.58573 8.00068L0.928879 2.34383C0.538355 1.9533 0.538355 1.32014 0.92888 0.929612C1.3194 0.539088 1.95257 0.539088 2.34309 0.929612Z' fill='white'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  .discount {

    .interest {
      .title {
        color: #ffffff;
      }
    }
    .timer {
      margin-right: 70px;

      .title {
        color: #ffffff;
      }
      .timer_item {
        background-color: #5F909D;
      }
    }
    .button {
      height: 83px;
      width: 446px;
      align-self: flex-start;
      margin-top: 80px;
    }
  }
}

@media (max-width: $hd_desktop) {
  .schedule {
    padding-top: 110px;
    margin-bottom: 217px;

    .wrapper {
      position: static;
    }

    .title {
      margin-bottom: 0;

      &::after {
        font-size: 160px;
        line-height: 218px;
        top: -55px;
        left: 790px;
      }
    }

    .schedule_bg {
      top: 20px;
      left: 0;
      width: 100%;
      height: 1033px;
    }

    .banner {
      width: 1115px;
      margin-bottom: 103px;
    }

    .part {

      &:nth-child(1) {
        .image {
          width: 326px;
        }
      }
      &:nth-child(2) {
        .image {
          width: 328px;
        }
      }
      &:nth-child(3) {
        .image {
          width: 334px;
        }
      }

      .text {
        font-size: 20px;
        line-height: 100%;
        margin-top: -22px;
        margin-left: 5px;
      }
    }

    .list {
      margin-bottom: 45px;

      .item {
        width: 364px;
        height: 126px;
        padding-top: 53px;
        margin-bottom: 25px;

        &::after {
          top: 36px;
          right: -40px;
          width: 55px;
          height: 55px;
        }

        &::before {
          top: 36px;
          left: -40px;
          width: 55px;
          height: 55px;
        }

        .step {
          font-size: 15px;
          line-height: 140%;
          margin: 0 16px 0 62px;

          &::after {
            font-size: 80px;
            line-height: 109px;
            top: -50px;
            left: -28px;
          }
        }

        .text {
          font-size: 15px;
        }
      }

      .arrow {

        &::before {
          top: -13px;
          left: -17px;
          width: 34px;
          height: 34px;
          background-image: url("data:image/svg+xml,%3Csvg width='10' height='12' viewBox='0 0 4 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.42872 0.238643L6.75487 5.42386C7.08171 5.74206 7.08171 6.25794 6.75487 6.57614L1.42872 11.7614C1.10188 12.0795 0.571968 12.0795 0.245128 11.7614C-0.0817108 11.4432 -0.0817108 10.9273 0.245129 10.6091L4.97949 6L0.245129 1.39091C-0.0817099 1.07272 -0.0817099 0.556834 0.245129 0.238643C0.571969 -0.0795477 1.10188 -0.0795477 1.42872 0.238643Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }

    .discount {

      .title {

        &::after {
          display: none;
        }
      }

      .interest {
        margin-right: 88px;

        .title {
          font-size: 22px;
          line-height: 200%;
          margin-bottom: 10px;
        }

        .image {
          width: 305px;
        }
      }

      .timer {
        margin-right: 15px;

        .title {
          margin: 10px 0 25px;
        }

        .timer_item {
          width: 84px;
          padding-top: 20px;

          .value {
            margin-bottom: 10px;
          }

          .caption {
            margin-bottom: 20px;
          }
        }
      }

      .button {
        width: 358px;
        height: 88px;
        margin-top: 72px;
      }
    }
  }
}
