.tariff {
  margin-bottom: 130px;

  .title {
    position: relative;
    margin-bottom: 81px;

    &::after {
      z-index: -1;
      position: absolute;
      width: 1025px;
      top: -138px;
      left: 410px;
      content: 'Тарифы';
      font-weight: 900;
      letter-spacing: 0.05em;
      text-transform: uppercase;
      color: transparent;
      opacity: 0.6;
      border: none;
       -webkit-text-stroke: 3px #ffffff;
    }
  }

  .list {
    display: flex;
    margin: 0 0 110px;
    padding: 0;
    list-style: none;
  }

  .item {
    width: 445px;
    box-sizing: border-box;
    border: 4px solid #FCF6F3;
    transition: 1s;

    &:hover {
      box-shadow: 0px 0px 35px 0px rgba(39, 14, 14, 0.05);
    }

    &:not(:last-child) {
      margin-right: 30px;
    }

    &:nth-child(1) {
      .header {
        background-image: url("data:image/svg+xml,%3Csvg width='37' height='37' viewBox='0 0 37 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M35.8099 11.8174C36.9865 5.9351 37 1.27933 37 1.08398C37 0.796616 36.886 0.520821 36.6824 0.317574C36.4792 0.114326 36.2037 0 35.916 0C35.7207 0 31.0649 0.0135498 25.1826 1.19012C23.0869 1.60904 21.1013 2.12506 19.2427 2.73029C19.23 2.73396 19.2179 2.73819 19.2054 2.74242C18.0023 3.13537 16.8523 3.56586 15.7624 4.03276C14.4294 4.60411 13.1834 5.23107 12.0283 5.91054C11.9933 5.92917 11.9591 5.94949 11.9264 5.97179C10.0732 7.07187 8.45536 8.30801 7.09417 9.6692C4.39127 12.3721 2.90276 15.9653 2.90276 19.7875C2.90276 23.2461 4.12168 26.5173 6.35599 29.1109L0.317574 35.1496C-0.105858 35.573 -0.105858 36.2593 0.317574 36.6824C0.529289 36.8941 0.806496 37 1.08398 37C1.36147 37 1.63896 36.8941 1.8504 36.6824L7.88909 30.644C10.4825 32.878 13.7536 34.097 17.2122 34.097C21.0347 34.097 24.6279 32.6087 27.3308 29.9061C28.6923 28.5446 29.9281 26.9266 31.0282 25.0733C31.0505 25.0406 31.0708 25.0064 31.0895 24.9714C31.7689 23.816 32.3959 22.5703 32.967 21.2376C33.4347 20.1463 33.8655 18.9951 34.259 17.7906C34.2624 17.7804 34.2658 17.77 34.2689 17.7598C34.8744 15.9004 35.3907 13.914 35.8099 11.8174ZM25.5659 3.32422C29.5936 2.51575 33.0909 2.27242 34.8007 2.1993C34.7276 3.9094 34.4843 7.40666 33.6758 11.4341C33.372 12.9471 32.967 14.6284 32.4315 16.3656L22.1669 16.3659L28.4727 10.0604C28.8958 9.63702 28.8958 8.95049 28.4727 8.52734C28.0492 8.10391 27.363 8.10391 26.9396 8.52734L20.6344 14.8328V4.56854C22.3716 4.03304 24.0529 3.62796 25.5659 3.32422ZM29.4974 23.3796H15.1532L19.9989 18.5339L31.7006 18.5336C31.0985 20.17 30.3727 21.8152 29.4974 23.3796ZM18.4664 5.29939V17.0005L13.6204 21.8462L13.6201 7.50264C15.1848 6.62727 16.8297 5.9015 18.4664 5.29939ZM5.07073 19.7875C5.07073 16.5446 6.33369 13.4956 8.62699 11.2023C9.49107 10.3382 10.4427 9.55854 11.4521 8.85508L11.4527 24.0142L7.89474 27.5724C6.06664 25.3923 5.07073 22.6666 5.07073 19.7875ZM25.798 28.3733C23.5047 30.6663 20.4554 31.929 17.2122 31.929C14.3334 31.929 11.6077 30.9331 9.42756 29.1053L12.9852 25.5476H28.1452C27.4417 26.5573 26.6621 27.5089 25.798 28.3733Z' fill='%23719DA8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='37' height='37' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 88% center;
      }
    }

    &:nth-child(2) {
      .header {
        background-image: url("data:image/svg+xml,%3Csvg width='72' height='47' viewBox='0 0 72 47' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M70.842 22.498C71.9868 16.7747 72 12.2448 72 12.0547C72 11.7751 71.889 11.5067 71.691 11.309C71.4933 11.1112 71.2252 11 70.9453 11C70.7552 11 66.2253 11.0132 60.502 12.158C58.4629 12.5656 56.531 13.0676 54.7226 13.6565C54.7103 13.6601 54.6985 13.6642 54.6864 13.6683C53.5158 14.0506 52.3968 14.4695 51.3364 14.9238C50.0394 15.4797 48.8271 16.0897 47.7032 16.7508C47.6691 16.7689 47.6359 16.7887 47.604 16.8104C45.8009 17.8807 44.2268 19.0835 42.9024 20.4079C40.2726 23.0377 38.8243 26.5338 38.8243 30.2527C38.8243 33.6178 40.0103 36.8006 42.1842 39.3241L36.309 45.1996C35.897 45.6116 35.897 46.2793 36.309 46.691C36.515 46.897 36.7847 47 37.0547 47C37.3247 47 37.5947 46.897 37.8004 46.691L43.6759 40.8158C46.1992 42.9894 49.3819 44.1754 52.747 44.1754C56.4662 44.1754 59.9623 42.7274 62.5921 40.0978C63.9168 38.7732 65.1193 37.1988 66.1896 35.3957C66.2113 35.3638 66.2311 35.3306 66.2492 35.2965C66.9103 34.1724 67.5203 32.9603 68.076 31.6636C68.5311 30.6018 68.9502 29.4818 69.3331 28.3098C69.3364 28.2999 69.3397 28.2897 69.3427 28.2798C69.9318 26.4707 70.4342 24.5379 70.842 22.498ZM60.875 14.2344C64.7938 13.4478 68.1965 13.211 69.8601 13.1399C69.789 14.8037 69.5522 18.2065 68.7656 22.125C68.4701 23.5972 68.076 25.2331 67.5549 26.9233L57.5678 26.9236L63.7031 20.7885C64.1148 20.3766 64.1148 19.7086 63.7031 19.2969C63.2911 18.8849 62.6234 18.8849 62.2115 19.2969L56.0767 25.4319V15.4451C57.7669 14.924 59.4028 14.5299 60.875 14.2344ZM64.7001 33.7477H50.7437L55.4584 29.033L66.8438 29.0327C66.258 30.6249 65.5518 32.2256 64.7001 33.7477ZM53.9673 16.1562V27.541L49.2523 32.2558L49.252 18.2999C50.7744 17.4482 52.3748 16.742 53.9673 16.1562ZM40.9337 30.2527C40.9337 27.0974 42.1625 24.1309 44.3938 21.8995C45.2346 21.0588 46.1604 20.3002 47.1426 19.6158L47.1432 34.3652L43.6814 37.8272C41.9027 35.7061 40.9337 33.054 40.9337 30.2527ZM61.1007 38.6064C58.8694 40.8375 55.9026 42.066 52.747 42.066C49.946 42.066 47.2939 41.097 45.1728 39.3186L48.6343 35.8571H63.3845C62.7001 36.8396 61.9415 37.7654 61.1007 38.6064Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M11.498 1.15796C5.77469 0.0131833 1.24475 -5.44098e-08 1.05469 -4.61019e-08C0.775084 -3.38801e-08 0.506743 0.110962 0.308989 0.30899C0.111235 0.506744 -1.53974e-06 0.774811 -1.52751e-06 1.05469C-1.5192e-06 1.24475 0.0131823 5.77469 1.15796 11.498C1.56555 13.5371 2.06763 15.469 2.65649 17.2774C2.66006 17.2897 2.66418 17.3015 2.6683 17.3136C3.05063 18.4842 3.46948 19.6032 3.92377 20.6636C4.47967 21.9606 5.08969 23.1729 5.75079 24.2968C5.76892 24.3309 5.7887 24.3641 5.81039 24.396C6.88074 26.1991 8.08347 27.7732 9.40787 29.0976C12.0377 31.7274 15.5338 33.1757 19.2527 33.1757C22.6178 33.1757 25.8006 31.9897 28.3241 29.8158L34.1996 35.691C34.6116 36.103 35.2793 36.103 35.691 35.691C35.897 35.485 36 35.2153 36 34.9453C36 34.6753 35.897 34.4053 35.691 34.1996L29.8158 28.3241C31.9894 25.8008 33.1754 22.6181 33.1754 19.253C33.1754 15.5338 31.7274 12.0377 29.0978 9.40787C27.7732 8.08319 26.1988 6.88074 24.3957 5.81039C24.3638 5.7887 24.3306 5.76892 24.2965 5.75079C23.1724 5.08969 21.9603 4.47967 20.6636 3.92404C19.6018 3.46893 18.4817 3.0498 17.3098 2.66693C17.2999 2.66363 17.2897 2.66034 17.2798 2.65732C15.4707 2.06818 13.5379 1.56583 11.498 1.15796ZM3.23437 11.125C2.44775 7.20621 2.211 3.80347 2.13986 2.13986C3.80374 2.211 7.20648 2.44775 11.125 3.23437C12.5972 3.52991 14.2331 3.92404 15.9233 4.44507L15.9236 14.4322L9.78854 8.29687C9.37656 7.88516 8.70859 7.88516 8.29687 8.29687C7.88489 8.70886 7.88489 9.37656 8.29687 9.78854L14.4319 15.9233L4.44507 15.9233C3.92404 14.2331 3.52991 12.5972 3.23437 11.125ZM22.7477 7.29986L22.7477 21.2563L18.033 16.5416L18.0327 5.15616C19.6249 5.742 21.2256 6.44815 22.7477 7.29986ZM5.15616 18.0327L16.541 18.0327L21.2558 22.7477L7.29987 22.748C6.44815 21.2256 5.742 19.6252 5.15616 18.0327ZM19.2527 31.0663C16.0974 31.0663 13.1309 29.8375 10.8995 27.6062C10.0588 26.7654 9.3002 25.8396 8.61575 24.8574L23.3652 24.8568L26.8272 28.3186C24.7061 30.0973 22.054 31.0663 19.2527 31.0663ZM27.6064 10.8993C29.8375 13.1306 31.066 16.0974 31.066 19.253C31.066 22.054 30.097 24.7061 28.3186 26.8272L24.8571 23.3657L24.8571 8.61548C25.8396 9.29993 26.7654 10.0585 27.6064 10.8993Z' fill='%23719DA8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='36' height='36' fill='white' transform='translate(36 11)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='36' height='36' fill='white' transform='translate(0 36) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 88% center;
      }
    }

    &:nth-child(3) {
      .header {
        background-image: url("data:image/svg+xml,%3Csvg width='76' height='76' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M60.6541 12.3901C59.4661 8.7342 55.5253 6.72648 51.8697 7.91408C51.3868 8.071 50.8979 8.28802 50.4147 8.5569C50.5212 8.01443 50.5765 7.48231 50.5765 6.97457C50.5765 3.09332 47.8945 0.00317383 44.0699 0.00317383C40.2396 0.00317383 37.4235 3.10016 37.4235 6.97457C37.4235 7.48224 37.4788 8.01436 37.5853 8.5569C37.1021 8.28808 36.6132 8.071 36.1303 7.91408C32.4749 6.72628 28.5339 8.7342 27.3459 12.3901C26.1412 16.0981 28.191 20.2274 31.8219 21.4072C32.3048 21.5642 32.8278 21.6758 33.3767 21.7424C32.9717 22.1188 32.6143 22.5168 32.3158 22.9275C30.0563 26.0374 30.7482 30.4058 33.858 32.6652C36.9664 34.9236 41.0037 34.2429 43.2705 31.1229C43.569 30.7121 43.8368 30.2491 44.0698 29.7476C44.3027 30.2492 44.5706 30.7121 44.8691 31.1229C47.139 34.2472 51.0401 34.9188 54.1418 32.6652C57.2517 30.4057 57.9436 26.0373 55.6841 22.9275C55.3858 22.5167 55.0282 22.1188 54.6232 21.7423C55.172 21.6759 55.6953 21.564 56.1782 21.4072C59.8091 20.2275 61.8588 16.0981 60.6541 12.3901ZM44.0699 1.99503C46.6859 1.99503 48.5846 4.08922 48.5846 6.97457C48.5846 8.27321 48.0764 9.87433 47.2252 11.2576C47.1222 11.425 47.0746 11.6115 47.0777 11.7954L46.0407 13.5902C45.7305 13.456 45.3912 13.352 45.0525 13.283V9.19918C45.0525 8.6492 44.6198 8.20328 44.0699 8.20328C43.5199 8.20328 43.074 8.6492 43.074 9.19918V13.283C42.7273 13.3537 42.394 13.4614 42.0774 13.6001L40.9196 11.7038C40.908 11.5502 40.8606 11.3972 40.7747 11.2576C39.9235 9.87433 39.4153 8.27321 39.4153 6.97457C39.4154 4.13577 41.4163 1.99503 44.0699 1.99503ZM32.4373 19.5129C29.8781 18.6813 28.3841 15.6405 29.2402 13.0056C30.0888 10.3942 32.9033 8.96005 35.5149 9.80839C36.5869 10.1568 37.7575 10.9404 38.7364 11.9504L40.4467 14.7517C40.1748 15.0403 39.937 15.3612 39.7396 15.7082L35.8531 14.4454C35.3295 14.2753 34.7681 14.5618 34.5981 15.0848C34.4281 15.6079 34.7145 16.1697 35.2375 16.3397L39.1226 17.6021C39.0776 18.0019 39.0806 18.3606 39.1251 18.7419L36.6375 19.6098C35.1466 19.9227 33.5963 19.8895 32.4373 19.5129ZM43.0738 25.7188C42.9451 27.328 42.4175 28.9084 41.6592 29.9521C40.0385 32.1827 37.2452 32.6641 35.0288 31.0537C32.8076 29.4398 32.3134 26.3196 33.9273 24.0982C35.2459 22.2831 37.5363 21.4584 37.7101 21.3452L39.7495 20.6337C39.9332 20.9535 40.1504 21.2516 40.3979 21.5219L37.9957 24.8284C37.6723 25.2733 37.771 25.8962 38.216 26.2194C38.6607 26.5426 39.2836 26.4442 39.607 25.9992L42.0086 22.6935C42.3456 22.8474 42.7019 22.9659 43.0738 23.0417V25.7188H43.0738ZM44.0699 21.1501C42.4225 21.1501 41.0821 19.8098 41.0821 18.1624C41.0821 16.5149 42.4224 15.1746 44.0699 15.1746C45.7173 15.1746 47.0576 16.5149 47.0576 18.1624C47.0576 19.8098 45.7173 21.1501 44.0699 21.1501ZM52.9711 31.0537C50.6823 32.7168 48.0483 32.1099 46.4805 29.9521C45.7222 28.9084 45.1813 27.328 45.0524 25.7189V23.0418C45.4243 22.9659 45.7939 22.8475 46.1308 22.6936L48.5324 25.9992C48.8558 26.4442 49.4786 26.5428 49.9235 26.2195C50.3685 25.8962 50.4672 25.2734 50.1438 24.8284L47.7416 21.522C47.987 21.254 48.2027 20.9587 48.3853 20.6418L50.2417 21.3106C50.4705 21.4803 52.7347 22.2566 54.0726 24.0982C55.6866 26.3196 55.1924 29.4398 52.9711 31.0537ZM51.4383 19.6245L49.0134 18.7509C49.0598 18.3591 49.0616 17.9979 49.017 17.602L52.9021 16.3396C53.4252 16.1696 53.7115 15.6078 53.5415 15.0847C53.3715 14.5616 52.8096 14.2753 52.2865 14.4453L48.3999 15.7081C48.1991 15.3552 47.9565 15.0292 47.6786 14.7367L49.3235 11.89C50.2901 10.9093 51.4346 10.1497 52.4851 9.80839C55.0962 8.96005 57.9111 10.3942 58.7597 13.0055C59.6158 15.6405 58.1218 18.6813 55.5626 19.5129H55.5627C54.4233 19.8831 52.9057 19.9207 51.4383 19.6245Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M74.7777 50.1368C75.9861 44.0955 76 39.3139 76 39.1133C76 38.8181 75.8829 38.5349 75.6738 38.3262C75.4651 38.1174 75.1821 38 74.8867 38C74.6861 38 69.9045 38.0139 63.8632 39.2223C61.7109 39.6525 59.6716 40.1825 57.7628 40.8041C57.7497 40.8078 57.7373 40.8122 57.7245 40.8165C56.4889 41.2201 55.3078 41.6622 54.1884 42.1418C52.8194 42.7285 51.5397 43.3725 50.3534 44.0703C50.3174 44.0894 50.2823 44.1103 50.2487 44.1332C48.3454 45.263 46.6839 46.5325 45.2859 47.9305C42.5099 50.7065 40.9812 54.3968 40.9812 58.3223C40.9812 61.8744 42.2331 65.2339 44.5278 67.8977L38.3262 74.0996C37.8913 74.5345 37.8913 75.2393 38.3262 75.6738C38.5436 75.8913 38.8283 76 39.1133 76C39.3983 76 39.6833 75.8913 39.9004 75.6738L46.1023 69.4722C48.7658 71.7666 52.1253 73.0185 55.6774 73.0185C59.6032 73.0185 63.2935 71.4901 66.0695 68.7144C67.4677 67.3161 68.737 65.6543 69.8668 63.751C69.8897 63.7174 69.9106 63.6823 69.9297 63.6463C70.6275 62.4597 71.2715 61.1803 71.858 59.8116C72.3383 58.6908 72.7808 57.5085 73.1849 56.2714C73.1884 56.261 73.1919 56.2503 73.1951 56.2398C73.8169 54.3302 74.3472 52.29 74.7777 50.1368ZM64.2569 41.4141C68.3934 40.5837 71.9852 40.3338 73.7413 40.2587C73.6662 42.0151 73.4163 45.6068 72.5859 49.7431C72.274 51.297 71.858 53.0238 71.308 54.8079L60.766 54.8082L67.2422 48.3324C67.6768 47.8975 67.6768 47.1924 67.2422 46.7578C66.8073 46.3229 66.1025 46.3229 65.6676 46.7578L59.1921 53.2337V42.692C60.9762 42.142 62.703 41.726 64.2569 41.4141ZM68.2946 62.0115H53.5627L58.5395 57.0348L70.5574 57.0345C69.939 58.7151 69.1936 60.4048 68.2946 62.0115ZM56.9655 43.4426V55.46L51.9885 60.4367L51.9882 45.7054C53.5952 44.8064 55.2846 44.061 56.9655 43.4426ZM43.2078 58.3223C43.2078 54.9917 44.5049 51.8604 46.8602 49.5051C47.7476 48.6176 48.7249 47.8169 49.7616 47.0944L49.7622 62.6632L46.1081 66.3176C44.2306 64.0786 43.2078 61.2792 43.2078 58.3223ZM64.4952 67.1401C62.1399 69.4951 59.0083 70.7919 55.6774 70.7919C52.7208 70.7919 49.9214 69.7691 47.6824 67.8919L51.3362 64.2381H66.9059C66.1834 65.2751 65.3827 66.2524 64.4952 67.1401Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip2)'%3E%3Cpath d='M12.1368 27.2223C6.0955 26.0139 1.3139 26 1.11328 26C0.818144 26 0.534895 26.1171 0.326155 26.3262C0.117415 26.5349 -1.62528e-06 26.8179 -1.61237e-06 27.1133C-1.6036e-06 27.3139 0.0139146 32.0955 1.22229 38.1368C1.65253 40.2891 2.18249 42.3284 2.80408 44.2372C2.80785 44.2503 2.81219 44.2627 2.81654 44.2755C3.22011 45.5111 3.66223 46.6922 4.14175 47.8116C4.72855 49.1806 5.37245 50.4603 6.07028 51.6466C6.08942 51.6826 6.11029 51.7177 6.13319 51.7513C7.263 53.6546 8.53255 55.3161 9.93053 56.7141C12.7065 59.4901 16.3968 61.0188 20.3223 61.0188C23.8744 61.0188 27.2339 59.7669 29.8977 57.4722L36.0996 63.6738C36.5345 64.1087 37.2393 64.1087 37.6738 63.6738C37.8913 63.4564 38 63.1717 38 62.8867C38 62.6017 37.8913 62.3167 37.6738 62.0996L31.4722 55.8977C33.7666 53.2342 35.0185 49.8747 35.0185 46.3226C35.0185 42.3968 33.4901 38.7065 30.7144 35.9305C29.3161 34.5323 27.6543 33.263 25.751 32.1332C25.7174 32.1103 25.6823 32.0894 25.6463 32.0703C24.4597 31.3725 23.1803 30.7285 21.8116 30.142C20.6908 29.6617 19.5085 29.2192 18.2714 28.8151C18.261 28.8116 18.2503 28.8081 18.2398 28.8049C16.3302 28.1831 14.29 27.6528 12.1368 27.2223ZM3.41406 37.7431C2.58374 33.6066 2.33383 30.0148 2.25874 28.2587C4.01506 28.3338 7.60684 28.5837 11.7431 29.4141C13.297 29.726 15.0238 30.142 16.8079 30.692L16.8082 41.234L10.3324 34.7578C9.89747 34.3232 9.1924 34.3232 8.75781 34.7578C8.32294 35.1927 8.32294 35.8975 8.75781 36.3324L15.2337 42.8079L4.69202 42.8079C4.14204 41.0238 3.72601 39.297 3.41406 37.7431ZM24.0115 33.7054L24.0115 48.4373L19.0348 43.4605L19.0345 31.4426C20.7151 32.061 22.4048 32.8064 24.0115 33.7054ZM5.44261 45.0345L17.46 45.0345L22.4367 50.0115L7.70541 50.0118C6.80638 48.4048 6.061 46.7154 5.44261 45.0345ZM20.3223 58.7922C16.9917 58.7922 13.8604 57.4951 11.5051 55.1398C10.6176 54.2524 9.81688 53.2751 9.09441 52.2384L24.6632 52.2378L28.3176 55.8919C26.0786 57.7694 23.2792 58.7922 20.3223 58.7922ZM29.1401 37.5048C31.4951 39.8601 32.7919 42.9917 32.7919 46.3226C32.7919 49.2792 31.7691 52.0786 29.8919 54.3176L26.2381 50.6638L26.2381 35.0941C27.2751 35.8166 28.2524 36.6173 29.1401 37.5048Z' fill='%23719DA8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='34' height='34' fill='white' transform='translate(27)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='38' height='38' fill='white' transform='translate(38 38)'/%3E%3C/clipPath%3E%3CclipPath id='clip2'%3E%3Crect width='38' height='38' fill='white' transform='translate(0 64) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: 90% center;
      }
    }

    .header {
      z-index: 1;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      min-height: 115px;
      box-sizing: border-box;
      padding-left: 65px;
      padding-right: 40px;
      background-color: #528491;

      .name {
        font-weight: bold;
        font-size: 22px;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FFFFFF;
      }
    }

    .content {
      z-index: 0;
      position: relative;
      background-color: #ffffff;
      box-sizing: border-box;
      padding-top: 42px;
      padding-left: 65px;

      .subtitle {
        margin: 0 0 22px;
        font-weight: 600;
        font-size: 16px;
        line-height: 200%;
        color: #354F62;
      }

      .structure {
        width: 330px;
        list-style: none;
        padding: 0 10px;
        margin: 0 0 35px;
      }

      .text {
        position: relative;
        line-height: 140%;
        margin-bottom: 10px;

        &::before {
          position: absolute;
          top: 10px;
          left: -10px;
          content: '';
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background-color: #354F62;
        }

        &.inactive {
          opacity: 0.2;
        }
      }

      .price {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 28px;
        line-height: 200%;
        color: #354F62;
        margin: 0 0 70px;
      }

      .old_price {
        align-self: flex-start;
        font-weight: normal;
        font-size: 16px;
        line-height: 100%;
        text-decoration-line: line-through;
        color: #354F62;
        margin-top: 13px;
        margin-left: 20px;
      }

      .button {
        bottom: -71px;
        position: absolute;
        min-height: 83px;
        min-width: 308px;
        margin-bottom: -43px;
      }
    }
  }

  .discount {
    .title {
      &::after {
        display: none;
      }
    }
  }
}

@media (max-width: $desktop) {
  .tariff {
    margin-bottom: 120px;

    .list {
      margin-bottom: 85px;
    }

    .title {
      margin-bottom: 50px;

      &::after {
        width: 735px;
        top: -100px;
        left: 440px;
      }
    }

    .item {
      width: 363px;

      &:nth-child(3) {
        .header {
          background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M60.6541 12.3901C59.4661 8.7342 55.5253 6.72648 51.8697 7.91408C51.3868 8.071 50.8979 8.28802 50.4147 8.5569C50.5212 8.01443 50.5765 7.48231 50.5765 6.97457C50.5765 3.09332 47.8945 0.00317383 44.0699 0.00317383C40.2396 0.00317383 37.4235 3.10016 37.4235 6.97457C37.4235 7.48224 37.4788 8.01436 37.5853 8.5569C37.1021 8.28808 36.6132 8.071 36.1303 7.91408C32.4749 6.72628 28.5339 8.7342 27.3459 12.3901C26.1412 16.0981 28.191 20.2274 31.8219 21.4072C32.3048 21.5642 32.8278 21.6758 33.3767 21.7424C32.9717 22.1188 32.6143 22.5168 32.3158 22.9275C30.0563 26.0374 30.7482 30.4058 33.858 32.6652C36.9664 34.9236 41.0037 34.2429 43.2705 31.1229C43.569 30.7121 43.8368 30.2491 44.0698 29.7476C44.3027 30.2492 44.5706 30.7121 44.8691 31.1229C47.139 34.2472 51.0401 34.9188 54.1418 32.6652C57.2517 30.4057 57.9436 26.0373 55.6841 22.9275C55.3858 22.5167 55.0282 22.1188 54.6232 21.7423C55.172 21.6759 55.6953 21.564 56.1782 21.4072C59.8091 20.2275 61.8588 16.0981 60.6541 12.3901ZM44.0699 1.99503C46.6859 1.99503 48.5846 4.08922 48.5846 6.97457C48.5846 8.27321 48.0764 9.87433 47.2252 11.2576C47.1222 11.425 47.0746 11.6115 47.0777 11.7954L46.0407 13.5902C45.7305 13.456 45.3912 13.352 45.0525 13.283V9.19918C45.0525 8.6492 44.6198 8.20328 44.0699 8.20328C43.5199 8.20328 43.074 8.6492 43.074 9.19918V13.283C42.7273 13.3537 42.394 13.4614 42.0774 13.6001L40.9196 11.7038C40.908 11.5502 40.8606 11.3972 40.7747 11.2576C39.9235 9.87433 39.4153 8.27321 39.4153 6.97457C39.4154 4.13577 41.4163 1.99503 44.0699 1.99503ZM32.4373 19.5129C29.8781 18.6813 28.3841 15.6405 29.2402 13.0056C30.0888 10.3942 32.9033 8.96005 35.5149 9.80839C36.5869 10.1568 37.7575 10.9404 38.7364 11.9504L40.4467 14.7517C40.1748 15.0403 39.937 15.3612 39.7396 15.7082L35.8531 14.4454C35.3295 14.2753 34.7681 14.5618 34.5981 15.0848C34.4281 15.6079 34.7145 16.1697 35.2375 16.3397L39.1226 17.6021C39.0776 18.0019 39.0806 18.3606 39.1251 18.7419L36.6375 19.6098C35.1466 19.9227 33.5963 19.8895 32.4373 19.5129ZM43.0738 25.7188C42.9451 27.328 42.4175 28.9084 41.6592 29.9521C40.0385 32.1827 37.2452 32.6641 35.0288 31.0537C32.8076 29.4398 32.3134 26.3196 33.9273 24.0982C35.2459 22.2831 37.5363 21.4584 37.7101 21.3452L39.7495 20.6337C39.9332 20.9535 40.1504 21.2516 40.3979 21.5219L37.9957 24.8284C37.6723 25.2733 37.771 25.8962 38.216 26.2194C38.6607 26.5426 39.2836 26.4442 39.607 25.9992L42.0086 22.6935C42.3456 22.8474 42.7019 22.9659 43.0738 23.0417V25.7188H43.0738ZM44.0699 21.1501C42.4225 21.1501 41.0821 19.8098 41.0821 18.1624C41.0821 16.5149 42.4224 15.1746 44.0699 15.1746C45.7173 15.1746 47.0576 16.5149 47.0576 18.1624C47.0576 19.8098 45.7173 21.1501 44.0699 21.1501ZM52.9711 31.0537C50.6823 32.7168 48.0483 32.1099 46.4805 29.9521C45.7222 28.9084 45.1813 27.328 45.0524 25.7189V23.0418C45.4243 22.9659 45.7939 22.8475 46.1308 22.6936L48.5324 25.9992C48.8558 26.4442 49.4786 26.5428 49.9235 26.2195C50.3685 25.8962 50.4672 25.2734 50.1438 24.8284L47.7416 21.522C47.987 21.254 48.2027 20.9587 48.3853 20.6418L50.2417 21.3106C50.4705 21.4803 52.7347 22.2566 54.0726 24.0982C55.6866 26.3196 55.1924 29.4398 52.9711 31.0537ZM51.4383 19.6245L49.0134 18.7509C49.0598 18.3591 49.0616 17.9979 49.017 17.602L52.9021 16.3396C53.4252 16.1696 53.7115 15.6078 53.5415 15.0847C53.3715 14.5616 52.8096 14.2753 52.2865 14.4453L48.3999 15.7081C48.1991 15.3552 47.9565 15.0292 47.6786 14.7367L49.3235 11.89C50.2901 10.9093 51.4346 10.1497 52.4851 9.80839C55.0962 8.96005 57.9111 10.3942 58.7597 13.0055C59.6158 15.6405 58.1218 18.6813 55.5626 19.5129H55.5627C54.4233 19.8831 52.9057 19.9207 51.4383 19.6245Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M74.7777 50.1368C75.9861 44.0955 76 39.3139 76 39.1133C76 38.8181 75.8829 38.5349 75.6738 38.3262C75.4651 38.1174 75.1821 38 74.8867 38C74.6861 38 69.9045 38.0139 63.8632 39.2223C61.7109 39.6525 59.6716 40.1825 57.7628 40.8041C57.7497 40.8078 57.7373 40.8122 57.7245 40.8165C56.4889 41.2201 55.3078 41.6622 54.1884 42.1418C52.8194 42.7285 51.5397 43.3725 50.3534 44.0703C50.3174 44.0894 50.2823 44.1103 50.2487 44.1332C48.3454 45.263 46.6839 46.5325 45.2859 47.9305C42.5099 50.7065 40.9812 54.3968 40.9812 58.3223C40.9812 61.8744 42.2331 65.2339 44.5278 67.8977L38.3262 74.0996C37.8913 74.5345 37.8913 75.2393 38.3262 75.6738C38.5436 75.8913 38.8283 76 39.1133 76C39.3983 76 39.6833 75.8913 39.9004 75.6738L46.1023 69.4722C48.7658 71.7666 52.1253 73.0185 55.6774 73.0185C59.6032 73.0185 63.2935 71.4901 66.0695 68.7144C67.4677 67.3161 68.737 65.6543 69.8668 63.751C69.8897 63.7174 69.9106 63.6823 69.9297 63.6463C70.6275 62.4597 71.2715 61.1803 71.858 59.8116C72.3383 58.6908 72.7808 57.5085 73.1849 56.2714C73.1884 56.261 73.1919 56.2503 73.1951 56.2398C73.8169 54.3302 74.3472 52.29 74.7777 50.1368ZM64.2569 41.4141C68.3934 40.5837 71.9852 40.3338 73.7413 40.2587C73.6662 42.0151 73.4163 45.6068 72.5859 49.7431C72.274 51.297 71.858 53.0238 71.308 54.8079L60.766 54.8082L67.2422 48.3324C67.6768 47.8975 67.6768 47.1924 67.2422 46.7578C66.8073 46.3229 66.1025 46.3229 65.6676 46.7578L59.1921 53.2337V42.692C60.9762 42.142 62.703 41.726 64.2569 41.4141ZM68.2946 62.0115H53.5627L58.5395 57.0348L70.5574 57.0345C69.939 58.7151 69.1936 60.4048 68.2946 62.0115ZM56.9655 43.4426V55.46L51.9885 60.4367L51.9882 45.7054C53.5952 44.8064 55.2846 44.061 56.9655 43.4426ZM43.2078 58.3223C43.2078 54.9917 44.5049 51.8604 46.8602 49.5051C47.7476 48.6176 48.7249 47.8169 49.7616 47.0944L49.7622 62.6632L46.1081 66.3176C44.2306 64.0786 43.2078 61.2792 43.2078 58.3223ZM64.4952 67.1401C62.1399 69.4951 59.0083 70.7919 55.6774 70.7919C52.7208 70.7919 49.9214 69.7691 47.6824 67.8919L51.3362 64.2381H66.9059C66.1834 65.2751 65.3827 66.2524 64.4952 67.1401Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip2)'%3E%3Cpath d='M12.1368 27.2223C6.0955 26.0139 1.3139 26 1.11328 26C0.818144 26 0.534895 26.1171 0.326155 26.3262C0.117415 26.5349 -1.62528e-06 26.8179 -1.61237e-06 27.1133C-1.6036e-06 27.3139 0.0139146 32.0955 1.22229 38.1368C1.65253 40.2891 2.18249 42.3284 2.80408 44.2372C2.80785 44.2503 2.81219 44.2627 2.81654 44.2755C3.22011 45.5111 3.66223 46.6922 4.14175 47.8116C4.72855 49.1806 5.37245 50.4603 6.07028 51.6466C6.08942 51.6826 6.11029 51.7177 6.13319 51.7513C7.263 53.6546 8.53255 55.3161 9.93053 56.7141C12.7065 59.4901 16.3968 61.0188 20.3223 61.0188C23.8744 61.0188 27.2339 59.7669 29.8977 57.4722L36.0996 63.6738C36.5345 64.1087 37.2393 64.1087 37.6738 63.6738C37.8913 63.4564 38 63.1717 38 62.8867C38 62.6017 37.8913 62.3167 37.6738 62.0996L31.4722 55.8977C33.7666 53.2342 35.0185 49.8747 35.0185 46.3226C35.0185 42.3968 33.4901 38.7065 30.7144 35.9305C29.3161 34.5323 27.6543 33.263 25.751 32.1332C25.7174 32.1103 25.6823 32.0894 25.6463 32.0703C24.4597 31.3725 23.1803 30.7285 21.8116 30.142C20.6908 29.6617 19.5085 29.2192 18.2714 28.8151C18.261 28.8116 18.2503 28.8081 18.2398 28.8049C16.3302 28.1831 14.29 27.6528 12.1368 27.2223ZM3.41406 37.7431C2.58374 33.6066 2.33383 30.0148 2.25874 28.2587C4.01506 28.3338 7.60684 28.5837 11.7431 29.4141C13.297 29.726 15.0238 30.142 16.8079 30.692L16.8082 41.234L10.3324 34.7578C9.89747 34.3232 9.1924 34.3232 8.75781 34.7578C8.32294 35.1927 8.32294 35.8975 8.75781 36.3324L15.2337 42.8079L4.69202 42.8079C4.14204 41.0238 3.72601 39.297 3.41406 37.7431ZM24.0115 33.7054L24.0115 48.4373L19.0348 43.4605L19.0345 31.4426C20.7151 32.061 22.4048 32.8064 24.0115 33.7054ZM5.44261 45.0345L17.46 45.0345L22.4367 50.0115L7.70541 50.0118C6.80638 48.4048 6.061 46.7154 5.44261 45.0345ZM20.3223 58.7922C16.9917 58.7922 13.8604 57.4951 11.5051 55.1398C10.6176 54.2524 9.81688 53.2751 9.09441 52.2384L24.6632 52.2378L28.3176 55.8919C26.0786 57.7694 23.2792 58.7922 20.3223 58.7922ZM29.1401 37.5048C31.4951 39.8601 32.7919 42.9917 32.7919 46.3226C32.7919 49.2792 31.7691 52.0786 29.8919 54.3176L26.2381 50.6638L26.2381 35.0941C27.2751 35.8166 28.2524 36.6173 29.1401 37.5048Z' fill='%23719DA8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='34' height='34' fill='white' transform='translate(27)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='38' height='38' fill='white' transform='translate(38 38)'/%3E%3C/clipPath%3E%3CclipPath id='clip2'%3E%3Crect width='38' height='38' fill='white' transform='translate(0 64) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: 90% center;
        }
      }

      .header {
        min-height: 75px;
        padding-left: 28px;
        padding-right: 20px;
        .name {
          font-size: 20px;
        }
      }

      .content {
        padding-top: 32px;
        padding-left: 27px;

        .structure {
          width: 300px;
        }

        .text {
          font-size: 15px;
          margin-bottom: 11px;
        }

        .button {
          bottom: -50px;
          min-height: 68px;
          min-width: 300px;
        }

        .price {
          margin-bottom: 55px;
        }
      }
    }

    .discount {

      .interest {
        margin-right: 88px;

        .title {
          font-size: 22px;
          line-height: 200%;
          margin-bottom: 10px;
        }

        .image {
          width: 305px;
        }
      }

      .timer {

        .title {
          margin: 10px 0 25px;
        }

        .timer_item {
          width: 84px;
          padding-top: 20px;

          .value {
            margin-bottom: 10px;
          }

          .caption {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: $tablet) {
  .tariff {
    margin-bottom: 100px;

    .list {
      flex-direction: column;
      margin-bottom: 25px;
    }

    .title {
      margin-bottom: 37px;

      &::after {
        width: 345px;
        top: -40px;
        left: 410px;
      }
    }

    .item {
      width: 720px;

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:nth-child(1) {
        .header {
          background-position: 63% center;
        }

        .content .structure {
          margin-bottom: 45px;
        }
      }


      &:nth-child(2) {
        .header {
          background-position: 63% center;
        }

        .content .structure {
          margin-bottom: 40px;
        }
      }

      &:nth-child(3) {
        .header {
          background-position: 63% center;
          background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 76 76' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M60.6541 12.3901C59.4661 8.7342 55.5253 6.72648 51.8697 7.91408C51.3868 8.071 50.8979 8.28802 50.4147 8.5569C50.5212 8.01443 50.5765 7.48231 50.5765 6.97457C50.5765 3.09332 47.8945 0.00317383 44.0699 0.00317383C40.2396 0.00317383 37.4235 3.10016 37.4235 6.97457C37.4235 7.48224 37.4788 8.01436 37.5853 8.5569C37.1021 8.28808 36.6132 8.071 36.1303 7.91408C32.4749 6.72628 28.5339 8.7342 27.3459 12.3901C26.1412 16.0981 28.191 20.2274 31.8219 21.4072C32.3048 21.5642 32.8278 21.6758 33.3767 21.7424C32.9717 22.1188 32.6143 22.5168 32.3158 22.9275C30.0563 26.0374 30.7482 30.4058 33.858 32.6652C36.9664 34.9236 41.0037 34.2429 43.2705 31.1229C43.569 30.7121 43.8368 30.2491 44.0698 29.7476C44.3027 30.2492 44.5706 30.7121 44.8691 31.1229C47.139 34.2472 51.0401 34.9188 54.1418 32.6652C57.2517 30.4057 57.9436 26.0373 55.6841 22.9275C55.3858 22.5167 55.0282 22.1188 54.6232 21.7423C55.172 21.6759 55.6953 21.564 56.1782 21.4072C59.8091 20.2275 61.8588 16.0981 60.6541 12.3901ZM44.0699 1.99503C46.6859 1.99503 48.5846 4.08922 48.5846 6.97457C48.5846 8.27321 48.0764 9.87433 47.2252 11.2576C47.1222 11.425 47.0746 11.6115 47.0777 11.7954L46.0407 13.5902C45.7305 13.456 45.3912 13.352 45.0525 13.283V9.19918C45.0525 8.6492 44.6198 8.20328 44.0699 8.20328C43.5199 8.20328 43.074 8.6492 43.074 9.19918V13.283C42.7273 13.3537 42.394 13.4614 42.0774 13.6001L40.9196 11.7038C40.908 11.5502 40.8606 11.3972 40.7747 11.2576C39.9235 9.87433 39.4153 8.27321 39.4153 6.97457C39.4154 4.13577 41.4163 1.99503 44.0699 1.99503ZM32.4373 19.5129C29.8781 18.6813 28.3841 15.6405 29.2402 13.0056C30.0888 10.3942 32.9033 8.96005 35.5149 9.80839C36.5869 10.1568 37.7575 10.9404 38.7364 11.9504L40.4467 14.7517C40.1748 15.0403 39.937 15.3612 39.7396 15.7082L35.8531 14.4454C35.3295 14.2753 34.7681 14.5618 34.5981 15.0848C34.4281 15.6079 34.7145 16.1697 35.2375 16.3397L39.1226 17.6021C39.0776 18.0019 39.0806 18.3606 39.1251 18.7419L36.6375 19.6098C35.1466 19.9227 33.5963 19.8895 32.4373 19.5129ZM43.0738 25.7188C42.9451 27.328 42.4175 28.9084 41.6592 29.9521C40.0385 32.1827 37.2452 32.6641 35.0288 31.0537C32.8076 29.4398 32.3134 26.3196 33.9273 24.0982C35.2459 22.2831 37.5363 21.4584 37.7101 21.3452L39.7495 20.6337C39.9332 20.9535 40.1504 21.2516 40.3979 21.5219L37.9957 24.8284C37.6723 25.2733 37.771 25.8962 38.216 26.2194C38.6607 26.5426 39.2836 26.4442 39.607 25.9992L42.0086 22.6935C42.3456 22.8474 42.7019 22.9659 43.0738 23.0417V25.7188H43.0738ZM44.0699 21.1501C42.4225 21.1501 41.0821 19.8098 41.0821 18.1624C41.0821 16.5149 42.4224 15.1746 44.0699 15.1746C45.7173 15.1746 47.0576 16.5149 47.0576 18.1624C47.0576 19.8098 45.7173 21.1501 44.0699 21.1501ZM52.9711 31.0537C50.6823 32.7168 48.0483 32.1099 46.4805 29.9521C45.7222 28.9084 45.1813 27.328 45.0524 25.7189V23.0418C45.4243 22.9659 45.7939 22.8475 46.1308 22.6936L48.5324 25.9992C48.8558 26.4442 49.4786 26.5428 49.9235 26.2195C50.3685 25.8962 50.4672 25.2734 50.1438 24.8284L47.7416 21.522C47.987 21.254 48.2027 20.9587 48.3853 20.6418L50.2417 21.3106C50.4705 21.4803 52.7347 22.2566 54.0726 24.0982C55.6866 26.3196 55.1924 29.4398 52.9711 31.0537ZM51.4383 19.6245L49.0134 18.7509C49.0598 18.3591 49.0616 17.9979 49.017 17.602L52.9021 16.3396C53.4252 16.1696 53.7115 15.6078 53.5415 15.0847C53.3715 14.5616 52.8096 14.2753 52.2865 14.4453L48.3999 15.7081C48.1991 15.3552 47.9565 15.0292 47.6786 14.7367L49.3235 11.89C50.2901 10.9093 51.4346 10.1497 52.4851 9.80839C55.0962 8.96005 57.9111 10.3942 58.7597 13.0055C59.6158 15.6405 58.1218 18.6813 55.5626 19.5129H55.5627C54.4233 19.8831 52.9057 19.9207 51.4383 19.6245Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip1)'%3E%3Cpath d='M74.7777 50.1368C75.9861 44.0955 76 39.3139 76 39.1133C76 38.8181 75.8829 38.5349 75.6738 38.3262C75.4651 38.1174 75.1821 38 74.8867 38C74.6861 38 69.9045 38.0139 63.8632 39.2223C61.7109 39.6525 59.6716 40.1825 57.7628 40.8041C57.7497 40.8078 57.7373 40.8122 57.7245 40.8165C56.4889 41.2201 55.3078 41.6622 54.1884 42.1418C52.8194 42.7285 51.5397 43.3725 50.3534 44.0703C50.3174 44.0894 50.2823 44.1103 50.2487 44.1332C48.3454 45.263 46.6839 46.5325 45.2859 47.9305C42.5099 50.7065 40.9812 54.3968 40.9812 58.3223C40.9812 61.8744 42.2331 65.2339 44.5278 67.8977L38.3262 74.0996C37.8913 74.5345 37.8913 75.2393 38.3262 75.6738C38.5436 75.8913 38.8283 76 39.1133 76C39.3983 76 39.6833 75.8913 39.9004 75.6738L46.1023 69.4722C48.7658 71.7666 52.1253 73.0185 55.6774 73.0185C59.6032 73.0185 63.2935 71.4901 66.0695 68.7144C67.4677 67.3161 68.737 65.6543 69.8668 63.751C69.8897 63.7174 69.9106 63.6823 69.9297 63.6463C70.6275 62.4597 71.2715 61.1803 71.858 59.8116C72.3383 58.6908 72.7808 57.5085 73.1849 56.2714C73.1884 56.261 73.1919 56.2503 73.1951 56.2398C73.8169 54.3302 74.3472 52.29 74.7777 50.1368ZM64.2569 41.4141C68.3934 40.5837 71.9852 40.3338 73.7413 40.2587C73.6662 42.0151 73.4163 45.6068 72.5859 49.7431C72.274 51.297 71.858 53.0238 71.308 54.8079L60.766 54.8082L67.2422 48.3324C67.6768 47.8975 67.6768 47.1924 67.2422 46.7578C66.8073 46.3229 66.1025 46.3229 65.6676 46.7578L59.1921 53.2337V42.692C60.9762 42.142 62.703 41.726 64.2569 41.4141ZM68.2946 62.0115H53.5627L58.5395 57.0348L70.5574 57.0345C69.939 58.7151 69.1936 60.4048 68.2946 62.0115ZM56.9655 43.4426V55.46L51.9885 60.4367L51.9882 45.7054C53.5952 44.8064 55.2846 44.061 56.9655 43.4426ZM43.2078 58.3223C43.2078 54.9917 44.5049 51.8604 46.8602 49.5051C47.7476 48.6176 48.7249 47.8169 49.7616 47.0944L49.7622 62.6632L46.1081 66.3176C44.2306 64.0786 43.2078 61.2792 43.2078 58.3223ZM64.4952 67.1401C62.1399 69.4951 59.0083 70.7919 55.6774 70.7919C52.7208 70.7919 49.9214 69.7691 47.6824 67.8919L51.3362 64.2381H66.9059C66.1834 65.2751 65.3827 66.2524 64.4952 67.1401Z' fill='%23719DA8'/%3E%3C/g%3E%3Cg clip-path='url(%23clip2)'%3E%3Cpath d='M12.1368 27.2223C6.0955 26.0139 1.3139 26 1.11328 26C0.818144 26 0.534895 26.1171 0.326155 26.3262C0.117415 26.5349 -1.62528e-06 26.8179 -1.61237e-06 27.1133C-1.6036e-06 27.3139 0.0139146 32.0955 1.22229 38.1368C1.65253 40.2891 2.18249 42.3284 2.80408 44.2372C2.80785 44.2503 2.81219 44.2627 2.81654 44.2755C3.22011 45.5111 3.66223 46.6922 4.14175 47.8116C4.72855 49.1806 5.37245 50.4603 6.07028 51.6466C6.08942 51.6826 6.11029 51.7177 6.13319 51.7513C7.263 53.6546 8.53255 55.3161 9.93053 56.7141C12.7065 59.4901 16.3968 61.0188 20.3223 61.0188C23.8744 61.0188 27.2339 59.7669 29.8977 57.4722L36.0996 63.6738C36.5345 64.1087 37.2393 64.1087 37.6738 63.6738C37.8913 63.4564 38 63.1717 38 62.8867C38 62.6017 37.8913 62.3167 37.6738 62.0996L31.4722 55.8977C33.7666 53.2342 35.0185 49.8747 35.0185 46.3226C35.0185 42.3968 33.4901 38.7065 30.7144 35.9305C29.3161 34.5323 27.6543 33.263 25.751 32.1332C25.7174 32.1103 25.6823 32.0894 25.6463 32.0703C24.4597 31.3725 23.1803 30.7285 21.8116 30.142C20.6908 29.6617 19.5085 29.2192 18.2714 28.8151C18.261 28.8116 18.2503 28.8081 18.2398 28.8049C16.3302 28.1831 14.29 27.6528 12.1368 27.2223ZM3.41406 37.7431C2.58374 33.6066 2.33383 30.0148 2.25874 28.2587C4.01506 28.3338 7.60684 28.5837 11.7431 29.4141C13.297 29.726 15.0238 30.142 16.8079 30.692L16.8082 41.234L10.3324 34.7578C9.89747 34.3232 9.1924 34.3232 8.75781 34.7578C8.32294 35.1927 8.32294 35.8975 8.75781 36.3324L15.2337 42.8079L4.69202 42.8079C4.14204 41.0238 3.72601 39.297 3.41406 37.7431ZM24.0115 33.7054L24.0115 48.4373L19.0348 43.4605L19.0345 31.4426C20.7151 32.061 22.4048 32.8064 24.0115 33.7054ZM5.44261 45.0345L17.46 45.0345L22.4367 50.0115L7.70541 50.0118C6.80638 48.4048 6.061 46.7154 5.44261 45.0345ZM20.3223 58.7922C16.9917 58.7922 13.8604 57.4951 11.5051 55.1398C10.6176 54.2524 9.81688 53.2751 9.09441 52.2384L24.6632 52.2378L28.3176 55.8919C26.0786 57.7694 23.2792 58.7922 20.3223 58.7922ZM29.1401 37.5048C31.4951 39.8601 32.7919 42.9917 32.7919 46.3226C32.7919 49.2792 31.7691 52.0786 29.8919 54.3176L26.2381 50.6638L26.2381 35.0941C27.2751 35.8166 28.2524 36.6173 29.1401 37.5048Z' fill='%23719DA8'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='34' height='34' fill='white' transform='translate(27)'/%3E%3C/clipPath%3E%3CclipPath id='clip1'%3E%3Crect width='38' height='38' fill='white' transform='translate(38 38)'/%3E%3C/clipPath%3E%3CclipPath id='clip2'%3E%3Crect width='38' height='38' fill='white' transform='translate(0 64) rotate(-90)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: 90% center;
        }
      }

      .header {
        justify-content: center;
        min-height: 75px;
        padding-left: 28px;
        padding-right: 20px;

        .name {
          font-size: 18px;
          margin-right: 100px;
        }
      }

      .content {
        padding-top: 32px;
        padding-left: 32px;

        .subtitle {
          margin-bottom: 20px;
        }

        .structure {
          display: flex;
          justify-content: flex-start;
          width: 640px;

          &_first_container {
            margin-right: 40px;
          }
        }

        .text {
          max-width: 315px;
          font-size: 14px;
          margin-bottom: 11px;
        }

        .inactive {
          display: none;
        }

        .button {
          bottom: 30px;
          right: 90px;
          min-height: 63px;
          min-width: 244px;
        }

        .price {
          margin-bottom: 50px;
          font-size: 22px;

          .old_price {
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
    }

    .discount {

      .interest {
        margin-right: 55px;

        .title {
          font-size: 22px;
          line-height: 200%;
          margin-bottom: 10px;
        }

        .image {
          width: 305px;
        }
      }

      .timer {

        .title {
          margin: 10px 0 25px;
        }

        .timer_item {
          width: 84px;
          padding-top: 20px;

          .value {
            margin-bottom: 10px;
          }

          .caption {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}

@media (max-width: $mobile) {
  .tariff {
    margin-bottom: 60px;

    .list {
      flex-direction: column;
      margin-bottom: 55px;
    }

    .title {
      margin-bottom: 25px;

      &::after {
        display: none;
      }
    }

    .item {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
        margin-bottom: 55px;
      }

      &:nth-child(1) {
        .header {
          background-position: 93% center;
        }

        .content .structure {
          margin-bottom: 8px;
        }
      }


      &:nth-child(2) {
        .header {
          background-position: 93% center;
        }

        .content .structure {
          margin-bottom: 10px;
        }
      }

      &:nth-child(3) {
        .header {
          background-position: 93% center;
        }

        .content .structure {
          margin-bottom: 10px;
        }
      }

      .header {
        justify-content: flex-start;
        min-height: 75px;
        padding-left: 18px;
        padding-right: 20px;

        .name {
          font-size: 18px;
          margin-right:0;
        }
      }

      .content {
        padding-top: 19px;
        padding-left: 18px;
        padding-bottom: 65px;

        .subtitle {
          margin-bottom: 14px;
        }

        .structure {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          width: auto;

          &_first_container {
            margin-right: 0;
          }
        }

        .text {
          max-width: 238px;
          font-size: 14px;
          margin-bottom: 11px;
        }

        .inactive {
          display: none;
        }

        .button {
          bottom: 12px;
          right: 20px;
        }

        .price {
          margin-bottom: 0;
          font-size: 22px;

          .old_price {
            font-size: 16px;
            margin-top: 0;
          }
        }
      }
    }

    .discount {
      flex-direction: column;

      .interest {
        margin-right: 0;

        .title {
          font-size: 22px;
          line-height: 200%;
          margin-bottom: 10px;
        }

        .image {
          width: 305px;
        }
      }

      .timer {

        .title {
          margin: 5px 0 12px;
        }

        .timer_item {
          width: 69px;
          padding-top: 15px;
          margin-right: 5px;

          .value {
            font-size: 28px;
            margin-bottom: 5px;
          }

          .caption {
            font-size: 14px;
            margin-bottom: 15px;
          }
        }
      }
    }
  }
}
