* {
  flex-shrink: 0;
  // outline: 1px solid red;
}

body {
  @include font_NotoSans;
  font-size: 16px;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

// ---WRAPPER---

.wrapper {
  width: 1400px;
  margin: 0 auto;
}

@media (max-width: $tablet) {
  .wrapper {
    width: 720px;
    margin: 0 auto;
  }
}

@media (max-width: $mobile) {
  .wrapper {
    width: 290px;
    margin: 0 auto;
  }
}

// ---BASE---

.title {
  margin: 0;
  font-weight: 900;
  font-size: 60px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #528491;
}

.text {
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  color: #354F62;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 88px;
  min-width: 245px;
  box-sizing: border-box;
  padding: 20px 40px;
  background-color: #E69292;
  @include font_NotoSans;
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  box-shadow: 0px 16px 30px -15px #E69292;
}

.main__checkbox {
  display: none;
}

.main__checkbox_label {
  position: relative;
  margin: 0 0 0 50px;
  font-weight: normal;
  font-size: 14px;
  line-height: 200%;
  color: #FFFFFF;
}

.main__checkbox_label::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: none;
  background-color: #FFFFFF;
}

.main__checkbox:checked + .main__checkbox_label::after {
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='15' viewBox='0 0 10 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.65669 4.24239L8.19212 0.706956C8.58264 0.316431 9.21581 0.316431 9.60633 0.706956C9.99686 1.09748 9.99686 1.73064 9.60633 2.12117L5.37538 6.35213C5.37159 6.35604 5.36776 6.35993 5.36389 6.3638C5.17699 6.5507 4.93452 6.64815 4.68967 6.65616C4.42284 6.66494 4.15316 6.56749 3.94948 6.36381C3.94548 6.35981 3.94152 6.35578 3.9376 6.35173L1.24992 3.66406C0.8594 3.27353 0.8594 2.64037 1.24992 2.24984C1.64045 1.85932 2.27361 1.85932 2.66414 2.24984L4.65669 4.24239Z' fill='gray'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
}
